$border-color: #ddd;
$time-header-height: 1cm;

$sidebar-width: 5cm;
$sidebar-collapsed-width: 0cm;
$topbar-height: 2cm;
$topbar-color: rgba(255, 255, 255, 0.8);
$border-style: 1px solid $border-color;
$small-border-radius: 5px;

$vacation-row-height: 1.5cm;
$topmark-blue: #0b4f98;
$event-color: #3174ad;
$selected-outline-color: #3b99fc;
$selected-color: #265985;
